@font-face {
  font-family: "kenney_pixel";   
  src: url('../src/assets/Font/kenney_pixel.ttf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* @font-face {
  font-family: "kenney_blocks";   
  src: url('../src/assets/Font/kenpixel_blocks.ttf');
} */
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff3c00;
  height: 100%;
  width: 100%;
  margin: none;
}

.window-controls {
  margin-bottom: 0;
}